
@media screen and (min-width:768px) {

    @keyframes aparecer {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    body{
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f1f1f1;
        animation: aparecer 0.3s ease-out;
    }


    main {
        display: flex;
        height: 100vh;  
        width: 100%;
    }

    article {
        width: 35%; 
        height: 100%;
        background-color: rgba(29, 29, 87, 0.904);
    }

    article img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
    }

    section {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;  
        background-color: white;
    }


    #title h1{
        font-size: 40px;
        margin-bottom: 10px;
        color: #00005A;
        margin: 0;
        padding: 0;
    }

    #title p{
        font-size: 18px;
        color: #616161;
        margin: 0;
        padding: 0;
        margin-bottom: 20%;
    }

    form{
        margin-bottom: 50px;
    }

    #usuario{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #usuario label{
        font-size: 16px;
        font-weight: bolder;
        color: #000000;
    }

    .input-box{
        width: 400px;
        height: 40px;
        margin-bottom: 20px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-indent: 10px;
    }

    .input-box:focus{
        outline: none;
        border: 1px solid #ccc;
    }

    #senha{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #senha label{
        font-size: 16px;
        font-weight: bolder;
        color: #000000;
    }

    #btn-login{
        width: 406px;
        height: 45px;
        background-color: #00005A;
        color: white;
        font-size: 18px;
        font-weight: bolder;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
    }

    div{
        padding:0;
        margin:0;
    }

    #btn-login:hover{
        background-color: #3333AA;
    }

}