@charset "UTF-8";

/* 
Mobile styles - Conceito de Mobile First - Primeiro desenvolvemos para mobile e depois para desktop

Dispositivos entre 481px e 768px (tablets e celulares grandes)
*/




/* Botão de fechar do menu lateral */
#btn-fechar {
    position: absolute;
    top: 4px; 
    right: 4px; 
    background: transparent; 
    border: none;   
    cursor: pointer; 
    color: var(--cor-fonte);
    z-index: 10;
    padding: 5px;
}

#foto-usuario{
    margin-top: 10px;
    width: 30%;
    height: auto;
    border-radius: 50%;
}

#nome{
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

#funcao{
    font-weight: normal;
    font-size: 0.65em;
    text-align: center;
    color: var(--cor-fonte);
}

#cabecalho-menu{
    font-size: 1em;
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 0.65em;
}

@media (orientation: landscape) {
    #menu-lateral {
        height: 100vh;
        overflow-y: auto;
        /*-webkit-overflow-scrolling: touch; - A propriedade -webkit-overflow-scrolling: touch foi criada para melhorar a experiência de rolagem em dispositivos iOS mais antigos, mas está obsoleta e não é mais necessária.*/
    }
}