@charset "UTF-8";
 
 /* 
 Notebook styles - Para telas entre 992px e 1279px
 */

/* Deixar menu lateral fixo*/
#menu-lateral {
    width: 230px !important;
    position: fixed;
    left: 0;
}

#btn-fechar {
    display: none;
}

#principal {
    margin-left: 240px;
}

#btn-menu, #btn-fechar{
    display: none;
}

/*Tira o blur*/
#principal {
    filter: none !important;
  }

#cabecalho-menu{
    font-size: 1.3em;
}

.icon{
    font-size: 0.76em;
}