@charset "UTF-8";

/*
Todos os estilos gerais do sistema
*/


/*Importação de Fonte Principal*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variaveis de cores*/
:root{
    --fonte-principal: 'Inter', sans-serif;
    --fundo: #f0f0f0;
    --fundo-cards:#fafafa;
    --destaque: #0025CC;
    --destaque-secundario: #213bfc;
    --destaque-transparente: rgba(39, 64, 255, 0.2);
    --cor-fonte: #292929;
    --cor-fonte-secundaria: #707070;
    --bordas: #cccccc;
    --branco: rgba(255,255,255);
    --preto: rgba(0,0,0);

    /*Variaveis pontuais*/
    --destaque-escuro: #001570;
}

/* Transição para aparecer na tela ao atulizar/abrir */
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Reset e Configurações gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body{
    display: flex;
    flex-direction: row;
    animation: aparecer 0.4s ease-in-out;
    overflow-x: hidden;
    background-color: var(--fundo);
}

body.escuro{
    --fundo:#121212;
    --fundo-cards: #292929;
    --destaque: #FF5D00;
    --destaque-secundario: #FF8D01;
    --destaque-transparente: #ff990041;
    --cor-fonte: #EAEAEA;
    --cor-fonte-secundaria: #A0A0A0;
    --bordas: #2A2A2A;
    --preto: #fff;
    --branco: #000;
    
    /*Variáveis pontuais*/
    --destaque-escuro: #E35300; 
}

/* Menu lateral */
#menu-lateral{
    width: 220px;
    height: 100vh;
    background-color: var(--fundo-cards);
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.25);

    /*I.A*/
    transition: width 0.45s ease-in-out; /* Animação suave de 0.45 segundos */
    overflow: hidden;            /* Esconde o texto/ícones quando o menu encolher */
    white-space: nowrap;         /* Impede que o texto quebre linha ao encolher */

    /* Deixe de usar relative e use fixed */
    position: fixed; 
    top: 0;
    left: 0;
    
    /* Z-index alto garante que ele fique na frente de tudo (tabelas, textos, imagens) */
    z-index: 1000;

    display: flex;
    flex-direction: column;
    
}

.menu-oculto {
    width: 0 !important; /* Força a largura a ser 0 */
    padding: 0 !important; /* Remove preenchimento se houver */
    border: none; /* Remove bordas para sumir completamente */
}


/* Cabeçalho do menu lateral (Foto e nome) */
#cabecalho-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 25px auto 25px auto;

    font-weight: bold;
    font-size: 1.65em;
    
    background-image: linear-gradient(to right, var(--destaque-escuro), var(--destaque), var(--destaque-secundario));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#nome{
    font-weight: bold;
    font-size: 1.15em;
    text-align: center;
    color: var(--cor-fonte);
}

#funcao{
    font-weight: normal;
    font-size: 0.75em;
    text-align: center;
    color: var(--cor-fonte);
}

#separador-menu{
    width:98%; 
    color:black; 
    height:1px;
    text-align: center;
    margin: 0 auto;
}
/* Navegação do menu lateral - itens abaixo do cabeçalho */

#menu-lateral > nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 20px;
}

#menu-lateral > nav a{
    display: block;
    margin: auto;
    width: 85%;
    padding: 8px;
    text-decoration: none;
    color: var(--cor-fonte);
    font-size: 1em;
    font-weight: bold; 
    border-radius: 7px;
    /*background-color: var(--fundo);
    box-shadow:  0px 2px 8px rgba(0, 0, 0, 0.2);*/
    transition: background-color 0.45s ease, transform 0.3s ease-in-out;
}

#menu-lateral > nav a:hover{
    background-color: var(--destaque-transparente);
    transform: translateX(5px);
}

#menu-lateral > nav a.ativo{
    color: var(--destaque-secundario);
    background-color: var(--destaque-transparente);
    border-left: 5px solid var(--destaque-secundario);
    border-right: var(--destaque-transparente);
    border-top: var(--destaque-transparente);
    border-bottom: var(--destaque-transparente);
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 0.9em;
}

#footer-menu-lateral{
    margin-top: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#usuario-footer-menu-lateral{
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    border: 1px solid var(--bordas);
    border-radius: 10px;
    padding: 10px;

    transition: background-color 0.2s ease-in-out;
}

#usuario-footer-menu-lateral > i{
    color: var(--preto);
}

#usuario-footer-menu-lateral:hover{
    cursor: pointer;
    background-color: var(--fundo);
}

#menu-usuario-footer{
    position: absolute;

    bottom: calc(100% + 6px);
    left: 0;

    background-color: var(--fundo);
    border: 1px solid var(--bordas);
    border-radius: 10px;
    width: 100%;

    display: none;
    z-index: 999;
    overflow: hidden;
}

#nome-funcao-footer-menu-lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@keyframes subir{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

#menu-usuario-footer.footer-ativo{
    display: block;
    animation: subir 0.3s ease-in;
}

#seta-para-cima {
    transition: transform 0.2s ease;
}
  
.menu-usuario-aberto #seta-para-cima {
    transform: rotate(180deg);
}
  

#menu-usuario-footer > p{
    padding: 12px 10px;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--preto);
}

#menu-usuario-footer > p:hover{
    cursor: pointer;
    background-color: var(--branco);
}



/* Conteúdo principal */

#principal{
    margin: 0;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    min-height: 100vh; 

    width: auto; 
    min-width: 0;
    flex: 1;
    transition: filter 0.3s ease;
    background-color: var(--fundo)
}

body.menu-aberto #principal{
    filter: blur(5px);
}
/* Cabeçalho principal (barra de pesquisa e botão do menu lateral) */

#btn-menu{
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

#cabecalho-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

#search-serial{
    font-size: 0.8em;
    border: none;
    padding: 8px;
    width: 100%;
}

hr{
    width:1px; 
    height:20px; 
    display:inline-block;
}

#search-serial:focus{
    outline: none;
}

#logo-search{
    font-size: 1.2em;
    color: var(--cor-fonte);
    padding-left: 4px;
}

@media (max-height:620px){
    #principal{
        max-height: 90vh;
    }
}