@charset "UTF-8";
/* Dispositivos entre 769px e 992px (tablets maiores) */

#cabecalho-menu{
    font-size: 1em;
}

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 0.7em;
}

#btn-fechar {
    position: absolute;
    top: 4px; 
    right: 4px; 
    background: transparent; 
    border: none;   
    cursor: pointer; 
    color: var(--cor-fonte);
    z-index: 10;
    padding: 5px;
}