@charset "UTF-8";
/* Dispositivos entre 769px e 992px (tablets maiores) */

.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 0.85em;
}

.search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border: 1px solid var(--cor-fonte-secundaria);
    border-radius: 8px;
    padding: 2px;
    margin: auto;
    width: 40%;
}

#btn-fechar {
    position: absolute;
    top: 4px; 
    right: 4px; 
    background: transparent; 
    border: none;   
    cursor: pointer; 
    color: var(--cor-fonte);
    z-index: 10;
    padding: 5px;
}